# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual envs
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Data & outputs (keep tiny samples separately if you want)
data_clean/*
outputs/*

# Secrets
.env

# OS
.DS_Store
Thumbs.db
